**.egg-info
**/__pycache__/
**dataset**
!**/test_dataset/
!**/test_dataset/dataset.json

data-generation/BlenderProc/

**wandb/
lightning_logs**
**.ckpt
**/checkpoints/
data-generation/assets
.idea/**
